{% extends 'base.html.twig' %}

{% block title %} Hello {{controller_name}}{% endblock %}

{% block body %}

<body style="background-image: url('./images/film.jpg'); background-size: 100%;">
    <!-- block -->
    <form action="methods.php" class="form-inline p-5" method="post" enctype="multipart/form-data">
    <div class="container border border-dark" style="background-color: white;">
        <div class="row justify-content-center align-content-center text-center">
        <div class="alert alert-primary d-flex text-center" role="alert">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-exclamation-triangle-fill flex-shrink-0 me-2" viewBox="0 0 16 16" role="img" aria-label="Warning:">
              <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"/>
            </svg>

            <!-- alert -->

            <div class="text-center">
              Заполните все необходимые поля, обозначенные символом "*"
            </div>
          </div>
          
        </div>
            <div class="row row-cols-1 row-cols-md-2 d-flex justify-content-center align-content-center">

            <!-- column1 -->

        <div class="col">

            <!-- input with choosing file:  jpg/png  -->  

            <div class="mb-3 col-12 col-md-auto form-check-inline">
                <label>● Постер фильма*: </label> 
                <input class="form-control w-100" id="posterimage" name="image" required type="file" accept=".jpg,.png">
            </div>

            <!--input with film name-->

            <div class="mb-3 col-12 col-md-auto">
                <label>● Название фильма*: </label>
                <input id="fname" class="form-control w-50" name="fname" required type="text">
            </div>

            <!-- chekbox: is film still on cinema -->

            <div class="mb-3 col-12 col-md-auto form-switch form-check-inline form-check">
                <label class="form-check-label">- Сейчас в кинотеатрах?</label>
                <input type="checkbox" class="form-check-input" name="inthecinema" value="до сих пор показывают или ">
            </div>
            
             <!-- checkboxes: where is film shown -->

            <div class="mb-3 col-12 col-md-auto form-check-inline">
                <label>● Где показывают: </label>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="cinema1" id="tl" value=" Apollo Tallin, ">
                <label class="form-check-label">Apollo Tallinn</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="cinema2" id="jv" value=" Apollo Johvi, ">
                <label class="form-check-label">Apollo Johvi</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="cinema3" id="tr" value=" Apollo Tartu, ">
                <label class="form-check-label">Apollo Tartu</label>
              </div>
            </div>
            

             <!-- selection: film genre -->

            <div class="mb-3 col-12 col-md-auto">
                <label>● Жанр фильма: </label>
                <label><select class="form-select text-center" name="Zanr">
                    <option id="hr" name="hr" value=" снимали в жанре Horror ">Хоррор</option>
                    <option id="bl" name="bl" value=" снимали в жанре Blockbuster ">Блокбастер</option>
                    <option id="dr" name="dr" value=" снимали в жанре Dramma ">Драма</option>
                    <option id="cm" name="cm" value=" снимали в жанре Comedy">Комедия</option>
                </select>
                </label>
            </div>
        </div>

         <!-- column2 -->
         
        <div class="col">


             <!-- input with number type-->
             
            <div class="mb-3 col-12 col-md-auto">
                <label>● Кассовые сборы:</label>
                <input class="form-control text-center w-50" id="money" name="money" type="number" value="0">
            </div>
            <div class="mb-3 col-12 col-md-auto">
                <label>● Количество посетивших:</label>
                <input class="form-control text-center w-50" id="views" name="views" type="number" value="0">
            </div>

            <!-- radio: film rating-->

            <div class="mb-3 col-12 col-md-auto form-check-inline">
              <label>● Рейтинг: </label>
          <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="inlineRadioOptions" id="G" value=" с рейтингом G ">
              <label class="form-check-label">G</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="inlineRadioOptions" id="PG" value=" с рейтингом PG">
              <label class="form-check-label">PG</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="inlineRadioOptions" id="PG-13" value=" с рейтингом PG-13 ">
              <label class="form-check-label">PG-13</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="inlineRadioOptions" id="R" value=" с рейтингом R ">
              <label class="form-check-label">R</label>
            </div>
          </div>

             <!-- input with textarea: film description-->

            <div class="mb-3 col-12 col-md-auto">
                <label>● Описание фильма*:</label>
                <textarea class="form-control w-50" name="descript" required id="descript"></textarea>
            </div>

             <!-- button with submit -->


        </div>
            <div class="mb-2 p-4 col-12 col-md-auto">
                <button  type="submit" class="btn btn btn-dark"> Отправить </button>
            </div>
        </div>
        </div>
        </form>
    </div>
    </body>