<div class="alert alert-primary d-flex text-center" style="background-color:brown; color:red;" role="alert">

            <!-- alert -->

    <div class="text-center d-flex justify-content-center">
        <h2>Информация:</h2>
    </div>
</div>
