<div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="inlineRadioOptions" id="tl" value=" Apollo Tallin, ">
              <label class="form-check-label">Apollo Tallinn</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="inlineRadioOptions" id="jv" value=" Apollo Johvi, ">
              <label class="form-check-label">Apollo Johvi</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="inlineRadioOptions" id="tr" value=" Apollo Tartu, ">
              <label class="form-check-label">Apollo Tartu</label>
            </div>

<input class="form-check-input" type="radio" name="inlineRadioOptions" id="G" value=" с рейтингом G ">
              <label class="form-check-label">G</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="inlineRadioOptions" id="PG" value=" с рейтингом PG">
              <label class="form-check-label">PG</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="inlineRadioOptions" id="PG-13" value=" с рейтингом PG-13 ">
              <label class="form-check-label">PG-13</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="inlineRadioOptions" id="R" value=" с рейтингом R ">
              <label class="form-check-label">R</label>

<div class="mb-3 col-12 col-md-auto">
                <label> {{ labe.zanr }} </label>
                <label><select class="form-select text-center" name="Zanr">
                    <option id="hr" name="hr" value=" снимали в жанре Horror ">Хоррор</option>
                    <option id="bl" name="bl" value=" снимали в жанре Blockbuster ">Блокбастер</option>
                    <option id="dr" name="dr" value=" снимали в жанре Dramma ">Драма</option>
                    <option id="cm" name="cm" value=" снимали в жанре Comedy">Комедия</option>
                </select>
                </label>
            </div>
        </div>